{
  "extends": "airbnb",
  "plugins": [
    "react",
  ],
  "settings": {
    "react": {
      "pragma": "React",
      "version": "15.0",
    },
  },
  "env" : {
    "browser" : true,
    "node" : true,
    "es6" : true,
    "commonjs": true,
    "amd" : true,
  },
  "globals": {
    "React": true,
  },
  "rules" : {
    "arrow-body-style": [0],
    "no-unused-vars" : [1],
    "no-undef" : [2],
    "max-len": [0],
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error",
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "modules": true,
      "spread" : true,
      "restParams" : true,
      "jsx" : true,
    }
  }
}
