.sidebar--outer {
  background: $slate;
  color: $white;
	width: 100%;
  border-radius: 2px;
  float: right;
	user-select: none;
  .sidebar--inner {
    padding: 20px 50px;
    label {
      text-transform: uppercase;
      color: $medium-grey;
      font-weight: 400;
    }
		.checkbox {
			label {
				text-transform: none;
			}
		}
    .checkbox input[type="checkbox"],
		.checkbox input[type="radio"] {
      position: relative;
      margin-left: 0;
      margin-right: 8px;
      padding: 8px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
    }
    .inline {
      display: inline-flex;
      align-items: baseline;
      .checkbox:first-of-type {
        margin-right: 14px;
      }
    }
  }
}
