.card--outer {
  position: relative;
  display: inline-block;
  height: 200px;
  border-radius: 2px;
	margin-bottom: 14px*2;
  /*&:nth-of-type(2n) {
    margin: 0 0 0 14px;
  }*/
  .card--inner {
    position: relative;
    height: 100%;
    padding: 30px 30px 10px 30px;
    color: $dark-grey;
		box-shadow: 0 0 0px 1px rgba(0,0,0,.15);
	  transition: $transition;
	  &:hover {
	    box-shadow: 0 0 25px 0 rgba(0,0,0,.15), 0 0 5px 0 rgba(0,0,0,.1);
	  }
    .avatar {
      @include size(80px,80px);
      border-radius: 50%;
      float: left;
    }
    .information {
      display: flex;
      flex-direction: column;
      margin-left: 105px;
      margin-top: 10px;
    }
    .fullname {
      font-size: 19px;
      margin: 0;
    }
    .discipline {
      font-size: 14px;
      color: $medium-grey;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .details {
      display: inline-flex;
      align-items: flex-start;
      .cost, .time {
        display: flex;
        flex-direction: row;
        width: 30%;
      }
      .icon {
				user-select: none;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        @include size(25px,25px);
        color: $medium-grey;
        margin-right: 8px;
      }
      .time {
        margin-left: 25px;
      }
    }
  }
}

.column:last-child:not(:first-child),
.columns:last-child:not(:first-child) {
	float: left;
}

.btn {
	cursor: pointer;
  @include size(50px, 330px);
  border: 0px;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
	user-select: none;
  &.btn--absolute {
    position: absolute;
    bottom: 10px;
  }
  &.btn--primary {
    background-color: transparent;
    box-shadow: 0 0 0 2px $primary inset;
    color: $primary;
    transition: $transition;
    &:hover {
      background-color: $primary;
      box-shadow: none;
      color: $white;
    }
  }
  &.btn--secondary {
    background-color: transparent;
    box-shadow: 0 0 0 2px $secondary inset;
    color: $secondary;
    transition: $transition;
    &:hover {
      background-color: $secondary;
      box-shadow: none;
      color: $white;
    }
  }
}
