@import "./basics/colors";
@import "./basics/layout";
@import "./advanced/mixins";

body {
  background: $white;
}

@import "./components/nav";

.container {
  width: $max-width;
}

.TrainerList {
  position: relative;
  width: 810px;
  margin: 0;
}

.results {
  position: relative;
  font-size: 19px;
  top: 20px;
  padding-left: 15px;
  color: $medium-grey;
  span:first-of-type {
    color: $secondary;
    font-size: 21px;
    text-transform: uppercase;
  }
  span:last-of-type {
    color: $dark-grey;
  }
}

@import "./components/trainers";
@import "./components/sidebar";
@import "./components/footer";

@import "./advanced/controls";
