//-- Foundation ----------------------------------------------------------------
@import "./../../node_modules/foundation-sites/scss/foundation";
@include foundation-flex-grid;
@include foundation-flex-classes;
@include foundation-everything;

@import "./basics/colors";
@import "./basics/layout";
@import "./advanced/mixins";

body {
  background: $white;
}

@import "./components/nav";

.container {
  width: $max-width;
}

.TrainerList {
	margin-right: 14px;
}

.results {
  font-size: 19px;
  padding-top: 14px*2;
	padding-bottom: 14px*2;
  color: $medium-grey;
  span:first-of-type {
    color: $secondary;
    font-size: 21px;
    text-transform: uppercase;
    margin-right: 14px;
  }
  span:last-of-type {
    color: $dark-grey;
    margin-left: 14px;
  }
}

.chamber--sides {
	margin-left: 14px;
	margin-right: 14px;
}
.chamber-double--sides {
	margin-left: 14px*2;
	margin-right: 14px*2;
}

.push-none--sides {
	padding-left: 0;
	padding-right: 0;
}

@import "./components/trainers";
@import "./components/sidebar";
@import "./components/footer";

@import "./advanced/controls";
