@import "./basics/colors";
@import "./basics/layout";
@import "./advanced/mixins";

body {
  background: $white;
}

@import "./components/nav";

.container {
  width: $max-width;
}

.TrainerList {
  position: relative;
  width: 810px;
  margin: 0;
}

@import "./components/trainers";
@import "./components/sidebar";
@import "./components/footer";

@import "./advanced/controls";
